$primary-color: yellow; 

$red: hsl(0 , 0, 100);

html {
    scroll-behavior: smooth;
  }
  

@mixin grid {
    display: grid;
    grid-template-columns: repeat(10, 80px);
    grid-template-rows: repeat(10, 80px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@mixin layout {
    width: 1770px;
}

@mixin flex-all {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}

@mixin btn {
    position: absolute;
    width: 153px;
    height: 63px;
    border: 1px solid white;
    background-color: #5474FD;
    color: white;
}
p, a, button{
    font-family: 'Acme', sans-serif;
}

body {
    @include flex-all;
    background-color: #000000;
    background-image: linear-gradient(360deg, #000000 0%, #414141 74%);
}

.backround {
    @include layout;
    height: 4000px;
    color: aqua;
}

.Rect {
    width: 40px;
    height: 20px;
}   

.Header {
    @include grid;
    justify-content: space-around;
    @include layout;
    height: 821px;
    background-image: url("images/img-down.svg");

    .scroll-btn {
        grid-row: 6;
        grid-column: 5;
        align-self: last baseline;

        .scroll-down {
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            overflow: hidden;
            outline: none;
            color: white;
            text-decoration: none;
            width: 100px;
        }
    }

    &__header {
        font-size: 48px;
        grid-row: 2;
        grid-column: 5/ span 2;

        .header__paragraph {
            font-size: 22px
        }
    }

    .search-bar {
        width: 503px;
        height: 63px;
        grid-row: 5;
        grid-column: 4/ span 4;
        

        .Header__search {
            @include btn;
            border: none;
            grid-area: 6/5;
        }

        .search-eng {
            width: 98%;
            height: 92%;
        }
    }

    .menu__bar {
        width: 1700px;
        height: 60px;
        grid-row-start: 10;
        grid-row-end: -1;
        border: solid 1px;
        grid-column-start: -11;
        grid-column-end: -1;
        justify-content: end;
        align-self: center;
        background-color: #5474FD;
        display: flex;
        justify-content: space-around;

        .menu__logo {
            font-size: 20px;
            color: white;
            align-self: inherit;
        }
        .Menu {
            display: flex;
            align-items: center;
        }

        .menu__btn {
            @include btn;
            height: 40px;;
            position: relative;
            border: none;
            color: white;
            background-color: #5474FD;
        }
    }
}

.Why-Choose-Us {
    @include grid;
    grid-column-gap: 100px;
    @include layout;
    height: 685px;
    background-color: rgba(0, 0, 0, 0.5);

    &__btn {
        grid-area: 7/3;
        align-self: end;
    }
    &__header {
        font-size: 36px; 
        align-self: center;
        grid-row: 4;
        grid-column: 3/ span3;
    }
    &__paragraph {
        font-size: 16px;
        color: #E8E8E8;
        grid-row: 5/ span 3;
        grid-column: 3/ span 3;
    }
    &__up {
        grid-area: 3/6;
    }
    &__down {
        grid-area: 6/7;
    }
}

.How-It-Works {
    width: auto;
    height: 340px;
    display: flex;
    justify-content: space-around;

    /*
    &__search {
        
    }
    */
}

.section {
    @include layout;
    @include grid;
    grid-column-gap: 100px;
    grid-row-gap: 60px;

    height: 1400px;

    &__group1 {
        width: 450px;
        height: 300px;
        grid-area: 3/4;
        justify-self: center;
        margin-right: 50px;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 25px;
    }
    &__group2 {
        width: 450px;
        height: 300px;
        grid-area: 6/7;
        justify-self: center;
        margin-left: 50px;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        padding: 25px;
    }

    &__paraghpraph {
        font-size: 16px;
    }

    &__header {
        font-size: 20px;
    }

    &__location {
        font-size: 20px;
        font-weight: 200; 
    }
    &__btn {
        @include btn;
        border: none;
        position: relative;
    }


    .rect {
        width: 1770px;
        height: 20px;
    }
}

.Testimonial {
    @include layout;
    height: 731px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.1);

    &__header {
        text-align: center;
        font-size: 36px;
    }

    &__container {
        display: flex;
        width: 1000px;
        height: 287px;  
    }

    &__sign {
        font-size: 90px;
        color: #5474FD;
    }

    &__textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 400px;
        margin-left: 50px;
    }
}

.Footer {
    @include layout;
    height: 271px;
    background-color: black;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    &__logo {
        width: 196px;
        height: 51px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .icon-bar {
        width: 166px;
        height: 16px;
        display: flex;
        justify-content: space-between;
    }
}




/* Grow Shadow */
.hgs {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hgs:hover, .hgs:focus, .hgs:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

